body {
  font-family: sans-serif;
  font-size: 0.85rem;
  color: #282828;
}

.square {
  display: block;
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.square__sync--light {
  background-color: #eee;
}

.square__sync--dark {
  background-color: #bbb;
}

.square__sync--color {
  background-color: tomato;
}
